@font-face {
  font-family: 'RealBook';
  src: url('assets/fonts/GABRWFFR.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: RealBook, sans-serif;
  background-image: url(assets/images/bg.png);
  background-size: cover;
  display: column;
  justify-content: center;
}

h1 {
  font-size: 250%;
  margin-bottom: 20px;
  color: #000000;
  text-shadow: 2px 2px 4px #aaaaaa;
  text-align: center;
}
p{
  font-size: 100%;
  color: #fff788;
}
a{
  display: block;
  text-align: center;
  margin: 10px;
  font-size: 20px;
  text-decoration: none;
  color: #fdeb9b;
  font-size: 15px;
}
a:visited{
  color: #bba10c;
}
a:hover{
  color: #ffd000;}


.navigation {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  a{
    text-decoration: none;
    color: #0000EE;
    font-size: 20px;
    padding : 10px;
    background-color: antiquewhite;
    background-color: rgba(255, 255, 255, 0);                
    box-shadow: 0px 0px 20px 5px bisque inset;
    border-radius: 10px;
  }
  a:hover {
    background-color: bisque;
    box-shadow: 0px 0px 20px 5px #f1cf35 inset;
  }
  a:visited {
    color: rgb(9, 9, 206);
  }
}

.sommaire {
  column-width: 250px;
  column-gap: 10px;
  background-color: rgb(9, 9, 206);
  padding: 20px;
  border-radius: 40px;
  box-shadow: 0px 0px 20px 5px rgb(68, 194, 252) inset;
  a{
    text-align: left;
  }

}

.partitions{
  display: flex;
  justify-content: space-around;
  text-align: center;
  background-color: rgb(9, 9, 206);
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0px 0px 20px 5px rgb(68, 194, 252) inset;
  div {     
    flex: 1;           
    margin: 10px;
    padding: 25px;
    border-radius: 30px;
    box-shadow: 0px 0px 20px 2px rgb(68, 194, 252) inset;
  }
  img {
    max-width: 100%;
    border-radius: 20px;
    margin-bottom: 10px;
  }
}



@media (min-width: 1000px){
  h1 {
    font-size: 400%;
    margin-bottom: 30px;
  }
  p{
    font-size: 150%;
  }

  a {
    font-size: 20px;
  }

  .navigation a{
    margin: 20px;
    font-size: 30px;
  }

  .partitions {
    div {
      padding: 30px;
    }
  }

  .sommaire {
    column-width: 300px;
    border-radius: 30px;
  }
  
}

@media (min-width: 1500px){
  h1 {
    margin-bottom: 40px;
  }

  .partitions a {
    font-size: 30px;
  }

  .navigation a{
    margin: 30px;
    font-size: 35px;
  }

  .partitions {
    border-radius: 50px;
    div {
      padding: 60px;
      margin: 18px;
      border-radius: 50px;
    }
    img {   
      max-height: 95vh;
    }
  }

  .sommaire{
    column-width: 350;
  }

}

@media (max-width: 500px) {
  h1 {
    font-size: 180%;
    text-align: left;
    margin-left: 10px;
  }

  a {
    font-size: 15px;
  }

  .navigation {
    margin: 10px;
    font-size: 15px;
  }

  .partitions {
    flex-direction: column;
    align-items: center;
    max-width: 50vh;
    padding: 10px;
    div {
      flex-direction: column;
      align-items: center;
      padding: 15px;
    }
  }

  .sommaire {
    column-width: 150px;
    border-radius: 20px;
  }
}